<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:*/spring-mybatis.xml</param-value>
    </context-param>
    <!-- spring监听器 开始 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- spring监听器 结束-->
    <!-- shiro过滤器 开始-->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!-- 配置DispatcherServlet -->

    <!-- shiro过滤器 结束-->
    <!-- 配置总的调度器 开始 -->

   <!-- <servlet>
       <servlet-name>ContextLoaderListener</servlet-name>

        <servlet-class>org.springframework.web.context.ContextLoaderListener</servlet-class>

    </servlet>-->
    <servlet>

        <servlet-name>hello</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 不配置init-param这个配置，默认框架会去找与web.xml同级目录下名字为hello-servlet.xml的文件 -->
        <init-param>
            <!-- spring源码加载自定义配置文件的时候，默认调用contextConfigLocation名称，所以是固定的，不能更改-->
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:*/spring-springmvc.xml</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- 配置总的调度器 结束 -->
    <!-- 静态资源免过滤  开始 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.bmp</url-pattern>
    </servlet-mapping>
    <!-- 静态资源免过滤  结束-->

</web-app>