<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzl.dao.SlDao">
<select id="select" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select * from f_apply
</select>
<insert id="insert" parameterType="java.util.HashMap">
    insert into f_apply(Stock,category,type_name,price,number,shenpi_name,bemarks) value (#{Stock},#{category},#{type_name},#{price},#{number},#{shenpi_name},#{bemarks})
</insert>
    <delete id="delete" parameterType="java.util.HashMap">
        delete  from f_apply where type_id = #{type_id}
    </delete>
    <select id="select01" parameterType="int" resultType="java.util.HashMap">
        select * from f_apply where type_id = #{type_id}
    </select>
    <update id="update" parameterType="java.util.HashMap">
        update f_apply set Stock = #{Stock},category = #{category},type_name = #{type_name},price = #{price},number = #{number},shenpi_name = #{shenpi_name},
        bemarks = #{bemarks} where type_id = #{type_id}
    </update>
</mapper>